.container{
  width: 1200px;
  height: auto;
  min-height: 50vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topContainer{
  width: 100%;
  padding: 0px 120px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

