.ct{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
  background-color: white;
}

.ct form button{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 50px;
  border-radius: 8px;
}
.ct form{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ipct{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border:none;
  font-size: 14px;
}


.ipct :first-child{
  width: 10%;
  white-space: nowrap;
}
.ipct input{
  width: 70%;
  border-radius: 8px;
  min-height: 40px;
  border: 1px solid #eaeaea;
}
.ipct textarea:focus, .ipct input{
  padding-left: 20px;
  border: 1px solid #eaeaea;
  outline: none;
}
.ipct textarea{
  border: 1px solid #eaeaea;
  width: 70%;
  height: 500px;
  border-radius: 8px;
}
.fileLabel{
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 70%;
  height: 50px;
  background-color: #FAFAFA;
  border-radius: 8px;
}

.ipct > input[type='file']{
  opacity: 0;
  position: absolute;
  width: 1%;
}
.titlect{
  margin-top: 80px;
  width: 1200px;
  font-size: 28px;
  font-weight: 700;

}

