.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100vh;
  background-color: white;
}
.titleContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleText{
  font-size: 48px;
  font-weight: 700;
}
.titleSubtext{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.64;
}
.content{
  display: flex;
  flex-direction: column;
}
.contentContainer{
  width: 1200px;
  height: 50vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  gap: 30px;
}
.tileDiv{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.upper, .under{
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subTitle{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subText1, .subText2{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.subText1{
  gap: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}
.subText2{
  background-color: #white;
}
.subText1Title{
  font-size: 24px;
  font-weight: 700;
}
.subText1Content{
  font-size: 13px;
  line-height: 2rem;
}