.swiper-container{
    width: 1000px;
}

.swiper-button-next {
  position: absolute; /* 절대 위치 설정 */
  top: 10px; /* 상단에서부터의 거리 */
  right: 10px; /* 오른쪽에서부터의 거리 */
  color: #fff; /* 아이콘 색상 */
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
}

/* 이전 버튼 스타일 */
.swiper-button-prev {
  color: red;
  position: absolute; /* 절대 위치 설정 */
  top: 10px; /* 상단에서부터의 거리 */
  right: 46px; /* 오른쪽에서부터의 거리 (다음 버튼 옆에 위치) */
  color: #fff; /* 아이콘 색상 */
  background-size: contain;
  background-repeat: no-repeat;
}
.overimage > *{
  font-family: 'Pretendard';
}
.overimage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
  height: inherit;
  position: absolute;
  z-index: 1;
  color: white;
  top: 0%;
  background-color: rgba(0, 0, 100, 0.5);
  border-radius: 8px;
}