.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.content .flex1 > img{
  top: 30%;
  right: 45%;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.flex1{
  width: 50vw;
  height: 100vh;
  flex: 1;
  background-color: beige;
}
.flex2{
  width: 50vw;
  height: 100vh;
  background-color: white;
  flex: 1;
  position: relative;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-image: linear-gradient(to bottom, blue, skyblue);
  top: 20%;
  right: 15%;
  color: white;
}
.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-image: linear-gradient(to bottom, red, rgb(223, 196, 196));
  color: white;
  top: 50%;
  right: 15%;
}
.circle3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-image: linear-gradient(to bottom, green, white);
  right: 50%;
  top: 25%;
}
.circle4 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-image: radial-gradient(circle, yellow, orange);
  top: 19%;
  left: 25%;
}