.container{
  width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperCnt{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate__bounce;
  animation-duration: 2s;
}

.swiper-button-prev::after{
}

.h1text{
  color: red;
}