.container{
  display: flex;
  flex-direction: column;
  /* width: 1200px; */
  width:100%;
  height: auto;
  height: 100vh;
  background-image: url('/samplebg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.contentContainer{
  display: flex;
  /* width: 1200px; */
  width:100vw;
  padding: 20px;
}
.flex1{
  flex:0.5;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex1 > img{
  border-radius: 12%;
}
.flex2{
  flex: 1.5;
  background: transparent;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex2 > .textContainer > p{
  font-family: 'Pretendard';
  font-size: calc(12px + 1vw);
}
.contentHeader{
  width: 100vw;
  height: 300px;
  background: rgba(0, 0, 0 ,0.1);
  /* color:white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textContainer{
  width: 800px;
  height: auto;
}
.midBorder{
  width: 100vw;
  border: 3px solid blue;
}
.topText{
  display: flex;
  gap: 30px;
}
.topText > span:first-child{
  font-size: 24px;
}
.topText > span:nth-child(2){
  color: red;
  font-size: 18px;
}
.contentHeader > span:nth-child(3){
  color: blue;
  font-size: 18px;
}
.bottomText{
  width: auto;
}

.greetText{
  font-family: 'Pretendard-Bold' !important;
}

.textContainer:nth-child(4){
  font-size: 12px !important;
}