.container{
  width: 100vw;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.titleContainer{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.contentNode{
  display: flex;
  align-items: center;
  justify-content: center;
  width:420px;
  height:600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title{
  font-size: 32px;
  font-weight: 700;
}

@media (min-width:768px) and (max-width:1200px){
  .contentNode{
    width: 30vw;
    height: 45vw;
  }
}